.example-card {
    align-items: center;
    max-width: 1600px;
    height: 200px!important;
    margin-bottom: 16px;
    width: 400px;
  }
  .row{
      padding: 20px;
      
  }
  .center{
      text-align: center!important;
  }
  