<div class="bg-secondaryy" style="border: px solid transparent; background: white;">
    <!-- error message -->
    <!-- <section >
        <div class="container" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" *ngIf="errorMessage">
            <div class="row toast-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <div class="col toast-body">
                    <p class="h4 text-danger">{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </section> -->
   <!-- toast alert messagae -->
   
   <div  aria-live="assertive" aria-atomic="true" style="position: relative; min-height: 40px;" *ngIf="errorMessage">
    <div >
     
        <div class="alert alert-warning" style="position: absolute; top: 0; right: 0;background-color: #ffc10742;margin-right: 1%;"role="alert">
           {{errorMessage}}
          </div>
      
    </div>
  </div>

  

<!-- end of toast alert message -->

<!-- new toast -->

 
<!-- End toast -->
    <section class="vh-110" style="height: 110vh;">
        <div class="container h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-4 col-lg-4 col-xl-5">
                    <div class="">
                        
                        <div class="card-body  ">

                          
                             
                            
                          
                            <form [formGroup]="loginForm"  (ngSubmit)="logIn()" novalidate>
                                <!--<p class="h4 mb-4 text-center">Login</p>-->
                                 <!--Alert not success-->
                                 <div *ngIf="" && !errorMessage class="alert alert-danger" role="alert">
                                    Invalid! Email or Password
                                  </div>
                                <div class="form-outline ">
                                    <!-- Email -->
                                    <label>Email</label>
                                    <input formControlName="email" type="email" id="typeEmailX-2"
                                        class="form-control mb-3 " placeholder="E-mail" />
                                    <p style="color: red; " *ngIf="email?.invalid &&email?.touched">Email is required
                                    <p>





                                        <!-- Password --><label>Password</label>
                                        <input formControlName="password" type="password" id="typePasswordX-2"
                                            class="form-control mb-3 margin-top:4;" placeholder="Password" />
                                    <p style="color:red;" *ngIf="password?.invalid &&password?.touched">Password is
                                        required</p>
                                </div>


                               

                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary rounded-pill margin-top:4;" type="button"
                                        [disabled]="!loginForm.valid" (click)="logIn()" >LOG IN</button>
                                        

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

